<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" class="ion-margin-top" (click)="paymentSheet()">Payment Sheet</ion-button>

  <ion-button expand="block" class="ion-margin-top" (click)="paymentFlow()">Payment Flow</ion-button>

  <ion-button expand="block" class="ion-margin-top" (click)="applePay()">Apple Pay</ion-button>

  <ion-button expand="block" class="ion-margin-top" (click)="googlePay()">googlePay</ion-button>
  
</ion-content>
